body {
	font-family: 'Handlee', cursive;

	
}




h1 {
	color: #4eaaaa;
	/* background-image: url(./Assets/bluebackground.png); */
	padding-right: 40px;
	padding-left: 40px;
}

.intro {
	text-align: center;
	color: #4eaaaa;
}

.intro-p {
	font-size: 30px;
}

#connect {
	color: #713949;
}

.pic {
	/*float: left; */
	margin-left: 40px;
	border-radius: 50%;
	border: solid #4eaaaa;

	width: 300px;
}

.about-me {
	text-align: justify;
	font-size: 30px;
	/* margin: 10px; */
	color: #4eaaaa;
	border-right: solid #4eaaaa;

	width: 100%;
	padding: 30px;
	
}

.paragraph2 {
	/* text-align: justify; */
	font-size: 30px;
	margin-right: 10px;
	color: #4eaaaa;
	border-right: solid #4eaaaa;
	width: 100%;
	padding: 10px;
}



