body {
	background-image: url("../../images/mosaic-3394375_1920.jpg");
	font-family: 'Handlee', cursive;
	color: #713949;
}

.btn-primary {
	background-color: #4eaaaa;
}

.btn-primary:hover {
	font-size: 20px;
	background-color: #713949;
}

.card-body {
	padding: 10px;
	position: center;
}

.card {
	margin-top: 50px;

}