body {
	font-family: 'Handlee', cursive;
	color: white;


}

.navbar {
	background-image: url("../../images/blue-2721464_1920.jpg");
}

.navbar-brand {
	text-align: center;

	margin: 10px;
}

a:hover {
	font-size: 20px;
}