body {
	font-family: 'Handlee', cursive;

}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-image: url("../../images/blue-2721464_1920.jpg");
	color: white;
	text-align: center;
	font-style: bold;
	font-size: 17px;
}